@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Pacifico&family=Paytone+One&display=swap");
* {
  user-select: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  background: url("../image/header__back.png") no-repeat fixed center;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  max-width: 1920px;
}

.nav {
  max-width: 500px;
  margin: 0 auto;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__ul .nav__list {
  margin-top: 40px;
  padding: 10px 20px;
  list-style: none;
}
.nav__ul .nav__list .nav__link {
  text-decoration: none;
  color: white;
  font-family: "Paytone One", sans-serif;
  font-size: 20px;
}
.nav__ul .nav__list .nav__link:hover {
  transition: all 0.3s ease-in-out;
  color: #F24D4D;
}

.header__title {
  margin-top: 215px;
  font-family: "Paytone One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  /* or 100% */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.img__wrapper {
  max-width: 180px;
  margin: 200px auto 0;
}
.img__wrapper .header__img {
  width: 100%;
  height: 100%;
}

.main {
  padding: 100px 0;
  background: url("../image/main__back.png") no-repeat fixed center;
  background-size: cover;
  box-sizing: border-box;
}
.main .main__title {
  font-family: "Pacifico", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 45px;
  /* identical to box height, or 90% */
  text-align: center;
  color: #F2C64D;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 0;
}

.card {
  display: flex;
  max-width: 676px;
  justify-content: space-between;
}

.card__content {
  max-width: 435px;
}

.card__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-transform: capitalize;
  color: #1A0D01;
}

.card__text {
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  /* or 187% */
  color: #6E6E6E;
}

.card__cost {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  color: #F0542C;
}

.cards__title {
  margin: 50px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  /* identical to box height, or 120% */
  text-align: center;
  text-transform: uppercase;
  color: #1A0D01;
}

.button__wrapper {
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__button {
  border: 1px solid #F0542C;
  border-radius: 50px;
  padding: 15px 400px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-transform: capitalize;
  color: #F0542C;
}
.main__button:hover {
  cursor: pointer;
  background-color: #F0542C;
  color: white;
  transition: all 0.3s ease-in-out;
}

.main__baskets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.basket {
  margin: 0 auto;
  padding: 80px 0;
}
.basket .basket__desc {
  margin: 40px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  /* or 93% */
  text-align: justify;
  color: #000000;
}
.basket .basket__buy {
  display: flex;
}
.basket .basket__buy .basket__cost {
  padding: 0 10px 0 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height, or 150% */
  color: #F0542C;
}
.basket .basket__buy .basket__button {
  background: #FFD35A;
  border-radius: 30px;
  border: 1px solid #FFD35A;
  padding: 10px 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.basket .basket__buy .basket__button:hover {
  color: #FFD35A;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main__about {
  padding: 100px 0;
}

.about__achievements {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.about__achievements .achievement .achievement__desc {
  padding: 0 0 0 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */
  color: #FFD35A;
  max-width: 250px;
}
.about__achievements .achievement .achievement__titles {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.about__achievements .achievement .achievement__titles .achievement__title {
  padding: 0 0 0 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height, or 133% */
  color: #000000;
}

.footer .footer__content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .footer__text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height, or 250% */
  color: #000000;
}
.footer .footer__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height, or 182% */
  color: #000000;
}
.footer .footer__nav .footer__list {
  list-style: none;
  max-width: 180px;
  margin: 16px 0;
}
.footer .footer__nav .footer__list .footer__link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #939290;
}

/*# sourceMappingURL=style.css.map */
